{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

{# <button class="button">
<a href="{{ path('app_my_fruits') }}">Mes fruits</a>
</button>

<button class="button">
<a href="{{ path('add_fruit') }}">Ajouter un fruit</a>
</button> #}

{% include 'components/navbar.html.twig' %}

{% endblock %}
