{% extends 'base.html.twig' %}

{% block title %}Calendrier des évènements{% endblock %}


{% block stylesheets %}
<style>
body {
    background: rgb(36,119,152);
    background: radial-gradient(circle, rgba(36,119,152,1) 49%, rgba(154,206,255,1) 100%);
}

#calendrier{
    margin: 30px
}

/* Changer la couleur du calendrier */
.fc-daygrid-day-number {
    color: white !important;
    text-decoration: none
}

.fc-col-header-cell-cushion {
    color: black;
    text-decoration: none
}

.fc-event-title, .fc-event-time {
    color: black !important;
}
</style>
{% endblock %}

{% block body %}
<div id="calendrier"></div>

{% endblock %}

{# Initialisation du calendrier dans la vue #}
{% block javascripts %}
 <script>
 window.onload = () => {
    let calendarElt = document.querySelector("#calendrier")
    let calendar = new FullCalendar.Calendar(calendarElt, {
        initialView: 'dayGridMonth',
        locale: 'fr',
        timeZone: 'Europe/Paris',
        headerToolbar: {
            start: 'prev',
            center: 'title',
            end: 'next,dayGridMonth,timeGridWeek'
        },
        events: {{data | raw}},
        eventTextColor: 'black',
        editable: true,
        eventResizableFromStart: true
    })

    calendar.on('eventChange', (e) => {
        let url = `/api/${e.event.id}/edit`
        let dodo = {
            "name": e.event.title,
            "date": e.event.startStr,
            "occupation": e.event.extendedProps.occupation,
            "evenement": e.event.extendedProps.evenement,
            "age": e.event.extendedProps.age,
        }

        console.log(e);
        
        let xhr = new XMLHttpRequest();

        // Étape 1 : Ouvrir la requête (OBLIGATOIRE AVANT le send)
        xhr.open("PUT", "https://127.0.0.1:8000/api/6/edit", true);

        // Étape 2 : configurer les headers
        xhr.setRequestHeader("Content-Type", "application/json");

        // Étape 3 : définir un callback si nécessaire
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                console.log("Statut :", xhr.status);
                console.log("Réponse :", xhr.responseText);
                }
                };
        console.log("Données envoyées:", JSON.stringify(dodo));
        xhr.send(JSON.stringify(dodo));
    })
    calendar.render();
 }
</script>
{% endblock %}
